.photo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bebe3, .bebe4, .bebe5 {
    width: 294px;
    margin-top: 25px;
}

.bebe1 {
    width: 294px;
    margin-top: 125px; 
}

.bebe2 {
    width: 294px;
    height: 441px;
    margin-top: 25px;
}

@media screen and (min-width:768px) {
    .photo {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 15px;
    }

    .bebe1, .bebe2, .bebe3, .bebe4, .bebe5 {
        margin-left: 15px;
        margin-right: 15px;
        width: auto;
        height: auto;
    }
}