.photo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bebe3, .bebe4, .bebe5 {
    width: 294px;
    margin-top: 25px;
}

.bebe1 {
    width: 294px;
    margin-top: 125px; 
}

.bebe2 {
    width: 294px;
    height: 441px;
    margin-top: 25px;
}