.navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 1.2rem;
    position: fixed;
    width: 100%;
    min-height: 75px;
    background-color: #47555E;
    color: white;
    z-index: 2;
}

a {
    font-size: 16px;
    text-decoration: none;
}

.logo {
    width: 192px;
    height: 109px;
}

.facebook, .instagram {
    width: 15px;
    height: 15px;
}

.facebook, .instagram:hover {
    cursor: pointer;
}

.facebook {
    margin-right: 15px;
}

.navbar-links {
    display: flex;
}

.navbar-link {
    padding: 0 0.5rem;
    color: inherit;
}

.navbar-burger {
    width: 40px;
    height:40px;
    background: transparent;
    border: none;
    color: inherit;
    display: none;
}

@media screen and (max-width:767px) {
    .navbar-links {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: fixed;
        right: -100vw;
        bottom: 0;
        height: 100vh;
        padding: 2rem;
        background-color: #47555E;
        visibility: hidden;
    }

    .facebook, .instagram {
        width: 50px;
        height: 50px;
    }

    .facebook {
        margin-right: 30px;
    }

    .show-nav .navbar-links {
        right: 0;
        width: 100vw;
        visibility: visible;
    }

    .navbar-link {
        display: block;
        padding: 1.5rem;
        font-size: 5vw;
    }

    .navbar-burger {
        display: block;
        position: fixed;
        top: -2px;
        right: 20px;
    }

    .navbar-burger:hover {
        cursor: pointer;
    }

    .burger-bar,
    .burger-bar::before,
    .burger-bar::after {
        display: block;
        width: 40px;
        height: 3px;
        position: relative;
        border-radius: 3px;
        background: white;
        transition: all .5s ease-in-out;
    }

    .burger-bar::before,
    .burger-bar::after {
        content:"";
        position: absolute;
        left: 0;
    }

    .burger-bar::before {
        transform: translateY(-12px);
    }

    .burger-bar::after {
        transform: translateY(12px);
    }

    .show-nav .burger-bar {
        background: transparent;
        width: 0;
    }

    .show-nav .burger-bar::before {
        transform: rotate(45deg);
    }

    .show-nav .burger-bar::after {
        transform: rotate(-45deg);
    }

    .logo {
        width: 100px;
        height: 60px;
    }
}

@media screen and (min-width:768px) {
    .navbar {
        position: static;
    }
}