.main-category {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.category-image {
    width: 350px;
    height: 246px;
}

.category-image:hover {
    cursor: pointer;
}

h2 {
    text-align: center;
    margin-bottom: 25px;
    margin-top: 25px;
    font-size: 32px;
    font-weight: 600;
    color: #112031;
    
}

@media screen and (min-width:768px) {
    .main-category {
        flex-direction: row;
    }
}

