.photo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bapteme4 {
    margin-top: 25px;
    width: 294px;
}

.bapteme1 {
    margin-top: 125px;
    width: 294px;
    margin-bottom: 15px;
}

.bapteme2, .bapteme3, .bapteme5 {
    width: 294px;
    height: 441px;
    margin-top: 25px;
    margin-bottom: 15px;
}

@media screen and (min-width:768px) {
    .photo {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 15px;
    }

    .bapteme1, .bapteme2, .bapteme3, .bapteme4, .bapteme5 {
        margin-left: 15px;
        margin-right: 15px;
        width: auto;
        height: auto;
    }
}