.photo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grossesse5 {
    width: 294px;
    height: 441px;
    margin-top: 25px;
}

.grossesse1 {
    width: 294px;
    height: 441px;
    margin-top: 125px;
}

.grossesse2, .grossesse3, .grossesse4 {
    width: 294px;
    margin-top: 25px;
}