.prestation-image {
    width: 340px;
    height: 246px;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.prestation {
    position: absolute;
    top: 89px;
}

p {
    margin-top: 89px;
    margin-bottom: 53px;
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
    line-height: 1.6rem;
}